 /* INDEX */
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 /* CSS reset */
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-weight: normal;
 }

 body {
     font-size: 16px;
     font-family: "Quicksand", sans-serif;
 }

 ol,
 ul {
     list-style: none;
 }

 img {
     max-width: 100%;
     height: auto;
     display: block;
 }

 /* CSS reset */




 /* INDEX */

 .fa-solid {
     /* kalender ikonet */
     color: rgb(0, 0, 0);
 }

 /* NAVBAR*/

 .nav {
     background-color: rgb(208, 141, 208);
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
 }

 .nav>ul {
     display: flex;
     gap: 100px;
     padding: 10px;
     margin-right: 30px;
 }

 .nav a {
     display: flex;
     text-decoration: none;
     font-weight: bold;
     color: aliceblue;
     font-size: 30px;
     padding: 5px;
 }

 .nav li a:hover {
     background-color: aliceblue;
     color: purple;
     border-radius: 8%;
     transition: 800ms;
 }

 .logo-wrapper {
     display: flex;
     justify-content: flex-start;
     max-width: 120px;
     max-height: 110px;
     margin: 5px 0 5px 30px;
     padding: 10px;
     background-color: rgb(158, 69, 158, 0.5);
     border-radius: 50%;
 }

 @media (max-width: 880px) {
     .nav ul {

         flex-direction: column;
         gap: 10px;
         margin: 0;
     }

     .nav li {
         width: 100%;
     }

     .nav a {
         justify-content: center;
         padding: 8px 12px;
         font-size: 18px;
     }
 }

 /* NAVBAR */

 /* FOOTER */

 footer {
     background-color: rgb(95, 71, 147);
     color: aliceblue;
     box-shadow: 0 0 20px 0 rgba(50, 45, 45, 0.5);
     border-top: black 1px solid;
 }

 footer>ul {
     text-align: center;
     padding: 20px;
 }

 footer li {
     padding: 10px;
     font-size: 20px;
     color: white;
 }

 footer .fa-solid {
     color: rgb(217, 207, 241);
 }

 .kontakt li:hover {
     color: rgb(166, 166, 209);
     transition: 800ms;
 }

 li a {
     text-decoration: none;
     color: aliceblue;
 }

 li a:hover {
     color: rgb(166, 166, 209);
     transition: 800ms;
 }

 /* FOOTER */


 /* HOVEDSIDE */

 h1 {
     padding: 20px;
     background-color: plum;
     font-size: 60px;
     text-align: center;
 }

 .section-1 {
     margin-bottom: 100px;
 }

 main .section-1 p {
     padding: 10px;
     font-size: 20px;
     border: 1px solid black;
     text-align: center;
     margin: 20px 70px;
 }

 .main-content {
     display: flex;
     flex-wrap: wrap;
     padding: 30px;
     gap: 70px;
     justify-content: center;
 }

 main .section-1 img {
     padding: 30px;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
     width: 300px;
 }

 main h3 {
     font-size: 20px;
     font-weight: bold;
     padding: 20px;
     text-align: center;
 }

 main li {
     padding: 10px;
     padding-left: 60px;
 }

 .om-meg {
     display: block;
     background-color: plum;
     border-radius: 5%;
     width: 300px;
 }

 .section-2 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     min-height: 600px;
 }

 .section-2 div {
     color: white;
 }

 .section-2 .h_Meg-om-10 {
     font-size: 50px;
     font-weight: bold;
     font-family: "Delius Swash Caps", cursive;
     text-shadow: none;
     padding: 10px;
 }

 .section-2 p {
     padding: 20px;
 }

 .tekst-om-10 {
     grid-column: 1/2;
     grid-row: 1/2;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 50px;
     border: 5px solid grey;
 }

 .bilde-om-10 {
     grid-column: 2/3;
 }

 .bilde-om-10 img {
     width: 100%;
     height: 100%;
 }

 .section-2 .fa-solid {
     color: white;
 }


 @media(max-width: 1230px) {
    h1{
        font-size: 40px;
    }
     .section-2 {
         grid-template-columns: 1fr;
         gap: 10px;
     }

     .tekst-om-10,
     .bilde-om-10 {
         grid-column: 1 / 2;
     }
 }



 /* TIMEPLAN */

 .timeplan nav li:nth-child(2) {
     background-color: (aliceblue);
 }

 h4,
 h5 {
     font-size: 50px;
     font-family: "Delius Swash Caps", cursive;
     color: purple;
     text-align: center;
     padding: 30px;
     text-decoration: purple underline 2px;
 }

 .container {
     display: flex;
     margin: 0 auto;
     justify-content: center;
     padding-bottom: 20px;
 }

 table {
     border: 3px solid black;
     border-collapse: collapse;
     width: 800px;
     margin-bottom: 100px;
 }


 table>* {
     font-size: 20px;

 }

 th {
     font-weight: bold;
     background-color: rgb(12, 222, 212);
 }

 td:first-child {
     font-weight: bold;
     background-color: rgb(146, 190, 192);
 }

 td,
 th {
     border: 3px solid black;
     text-align: center;
     padding: 20px;
     min-width: 120px;

 }

 .uke>th {
     background-color: rgb(163, 211, 214);
 }



 .kjemi {
     background-color: rgb(178, 231, 178);
 }

 .tysk {
     background-color: rgb(219, 136, 164);
 }

 .fysikk {
     background-color: rgb(125, 176, 177);
 }

 .R1 {
     background-color: rgb(218, 118, 118);
 }

 .norsk {
     background-color: rgb(203, 169, 218);
 }

 .historie {
     background-color: rgb(234, 181, 116);
 }

 .IT {
     background-color: rgb(147, 168, 206);
 }

 .gym {
     background-color: rgb(234, 224, 134);
 }

 .klassetime {
     background-color: rgb(210, 228, 221);
 }

 @media(max-width: 1420px) {

     td,
     th {
         font-size: 15px;
         padding: 3px;
         min-width: 0;
     }
 }


 .fag {
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(2, 1fr);
     margin: 0 200px 200px;
     gap: 100px;
 }

 .grid-card2 {
     padding: 20px;
     border: 10px solid rgba(88, 81, 103, 0.5);
     text-align: center;
     height: 400px;
     border-radius: 10px;
     background-color: rgb(174, 203, 217);
     box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
 }

 .grid-card2 h2 {
     font-size: 60px;
     font-weight: bold;
     font-family: "Londrina Shadow", sans-serif;
     text-shadow: none;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .grid-card2 p {
     padding: 10px;
     padding-top: 40px;
 }

 .Kjemi-fag h2 {
     background-image: url(./Bilder/kjemi-bilde.jpg);
 }

 .Fysikk-fag h2 {
     background-image: url(./Bilder/Fysikk-bilde1.png);
     color: aliceblue;
 }

 .IT-fag h2 {
     background-image: url(./Bilder/IT-bilde.jpg);
 }

 .R1-fag h2 {
     background-image: url(./Bilder/R1-bilde1.jpg);
     color: aliceblue;
 }




 @media(width < 1330px) {
     .fag {
         grid-template-columns: 1fr;
         margin: 30px;
     }

     .grid-card2 p {
         font-size: 13px;
     }
 }




 /* INTERESSER */
 h5 {
     padding: 10px;
     margin: 0 0 50px 0;
 }

 main {
     max-width: 1200px;
     margin: 0 auto;
     padding: 50px;
 }

 body {
     background-color: rgb(240, 211, 240);
 }

 body h2 {
     font-size: 40px;
     text-decoration: none;
     padding: 60px;
     font-family: "Pacifico", cursive;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

 }

 .interesser h2 {
     font-size: 40px;
     text-align: center;
     padding: 20px;
     color: rgb(137, 61, 137);
     font-weight: unset;
 }

 .tennis {
     background-color: rgb(255, 204, 184);

 }

 .fotball {
     background-color: lightgoldenrodyellow;
 }

 .piano {
     background-color: rgb(64, 228, 220);
 }

 .interesser {
     display: grid;
     gap: 30px;
 }

 .interesser * {
     display: grid;
     justify-content: center;
 }

 .grid-card {
     display: grid;
     grid-template-columns: 2fr 1fr;
     padding: 20px;
     align-items: center;
     box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.5);
 }

 .info {
     margin-bottom: 70px;
 }

 .info a {
     display: inline;
     text-decoration: none;
 }

 .info p {
     font-style: italic;
     text-align: center;
     padding: 10px;
     align-items: center;
     display: inline;
 }

 .grid-card:first-child {
     border: 6px solid rgb(255, 154, 115);
 }

 .grid-card:first-child p {
     background-color: rgb(249, 190, 167);
 }

 .grid-card:first-child h2 {
     color: rgb(163, 65, 27);
 }

 .grid-card:nth-child(2) p {
     background-color: rgb(246, 246, 169);
 }

 .grid-card:nth-child(2) h2 {
     color: rgb(158, 158, 4);
 }

 .grid-card:last-child {
     border: 6px solid rgb(9, 192, 183);
 }

 .grid-card:last-child p {
     background-color: rgb(144, 236, 232);
 }

 .grid-card:last-child h2 {
     color: rgb(3, 116, 110);
 }

 section img {
     width: 300px;
     height: 300px;
     object-fit: cover;
     aspect-ratio: 1/1;
     justify-content: end;
     border-radius: 2px;
 }

 .tennis img {
     border: 7px solid rgb(163, 65, 27);
 }

 .fotball img {
     border: 7px solid rgb(236, 236, 141);
 }

 .piano img {
     border: 7px solid rgb(9, 192, 183);
 }


 @media (max-width: 960px) {
     .grid-card {
         grid-template-columns: 1fr;
         grid-template-areas:
             "header"
             "grid-section"
             "footer";
     }
 }



 /* BILDEGALLERI */
 h6 {
     font-size: 40px;
     padding: 20px;
     font-family: "Delius Swash Caps", cursive;
 }

 .gallery {
     max-width: 1200px;
     margin: 0 auto;
     padding: 50px;
     padding-bottom: 100px;
 }


 .grid-section {
     display: grid;
     grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
     grid-auto-rows: 150px;
     gap: 10px;

     padding: 10px;
     background-color: rgb(181, 227, 240);
     border: 3px rgb(5, 66, 97) solid;
 }

 .grid-section img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 2%;
 }

 @media (width < 800px) {
     .grid-section {
         grid-template-columns: repeat(2, 1fr);
         grid-template-areas:
             "header"
             "grid-section"
             "footer"
         ;
     }

     .grid-section * {
         grid-column: auto !important;
         grid-row: auto !important;
     }
 }

 .nr1 {
     grid-row: 1/3;
     grid-column: 1/4;
 }

 .nr2 {
     grid-row: 1/5;
     grid-column: 5/7;
 }

 .nr3 {
     grid-row: 1/3;
 }

 .nr4 {
     grid-row: 3/5;
     grid-column: -5/-4;
 }

 .nr5 {
     grid-row: 3/4;
 }

 .nr6 {
     grid-row: 3/4;
 }

 .nr7 {
     grid-row: 3/5;
     grid-column: -4/-3;
 }

 .nr10 {
     grid-column: 1/4;
     grid-row: 5/7;
 }

 .nr11 {
     grid-column: 4/6;
     grid-row: 5/7;
 }

 .nr12 {
     grid-row: 5/7;
 }