 /* INDEX */
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Pacifico&display=swap');

 /* CSS reset */
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-weight: normal;
 }

 body {
     font-size: 16px;
     font-family: "Quicksand", sans-serif;
 }

 ol,
 ul {
     list-style: none;
 }

 img {
     max-width: 100%;
     height: auto;
     display: block;
 }

 /* CSS reset */




 /* INDEX */

 .fa-solid {
     /* kalender ikonet */
     color: rgb(0, 0, 0);
 }

 /* NAVBAR*/
 .nav {
     background-color: rgb(208, 141, 208);

 }

 .nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
 }

 .nav>ul {
     display: flex;
     gap: 100px;
     padding: 10px;
     margin-right: 30px;
 }

 .nav a {
     text-decoration: none;
     font-weight: bold;
     color: aliceblue;
     font-size: 30px;
     padding: 5px;
 }

 .nav li a:hover {
     background-color: aliceblue;
     color: purple;
     border-radius: 8%;
     transition: 800ms;
 }

 .logo-wrapper {
     display: flex;
     justify-content: flex-start;
     max-width: 120px;
     max-height: 110px;
     margin: 5px 0 5px 30px;
     padding: 10px;
     background-color: rgb(158, 69, 158, 0.5);
     border-radius: 50%;
 }

 /* NAVBAR */

 /* FOOTER */

 footer {
     background-color: rgb(95, 71, 147);
     color: aliceblue;

 }

 footer>ul {
     text-align: center;
     padding: 20px;
 }

 footer li {
     padding: 10px;
     font-size: 20px;
     color: white;
 }

 footer .fa-solid {
     color: rgb(217, 207, 241);
 }


 /* FOOTER */


 /* HOVEDSIDE */
 h1 {
     padding: 20px;
     background-color: plum;
     font-size: 60px;
     text-align: center;
 }
main{
    
}

 main p {
     padding: 10px;
     font-size: 20px;
     border: 1px solid black;
     text-align: center;
     margin: 20px 70px;
 }

 .main-content {
     display: flex;
     flex-wrap: wrap;
     padding: 30px;
     gap: 100px;
     justify-content: center;
 }

 main img {
     padding: 30px;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
     width: 200px;
 }

 main h3 {
     font-size: 20px;
     font-weight: bold;
     padding: 20px;
     text-align: center;
 }

 main li {
     padding: 10px;
     padding-left: 60px;
 }

 .om-meg {
     display: block;
     background-color: plum;
     border-radius: 5%;
     width: 300px;
 }


 /* body{
    min height: 100vh;
 }
 main{
    flex-grow: 1;
 }
 */






 /* INDEX */
 /* TIMEPLAN */

.timeplan nav li:nth-child(2){
     background-color: (aliceblue);    
}

 h4,
 h5 {
     font-size: 50px;
     font-family: "Delius Swash Caps", cursive;
     color: purple;
     text-align: center;
     padding: 30px;
     text-decoration: purple underline 2px;
 }

 .container {
     margin: 0 auto;
     max-width: 800px;
     padding: 20px;
 }

 table {
     border: 3px solid black;
     border-collapse: collapse;
     width: 100%;

 }

 table>* {
     font-size: 20px;
 }

 th {
     font-weight: bold;
     background-color: rgb(12, 222, 212);
 }

 td:first-child {
     font-weight: bold;
     background-color: rgb(146, 190, 192);
 }

 td,
 th {
     border: 3px solid black;
     text-align: center;
     padding: 20px;
 }


 .uker>td {
     background-color: rgb(12, 222, 212);
 }

 .kjemi {
     background-color: rgb(178, 231, 178);
 }

 .tysk {
     background-color: rgb(219, 136, 164);
 }

 .fysikk {
     background-color: rgb(125, 176, 177);
 }

 .R1 {
     background-color: rgb(218, 118, 118);
 }

 .norsk {
     background-color: rgb(203, 169, 218);
 }

 .historie {
     background-color: rgb(234, 181, 116);
 }

 .IT {
     background-color: rgb(147, 168, 206);
 }

 .gym {
     background-color: rgb(234, 224, 134);
 }

 .klassetime {
     background-color: rgb(210, 228, 221);
 }


 /* INTERESSER */
 h5 {
     padding: 20px;
 }

 /* .nav-interesser{
    background-color: aliceblue;
    color: purple;
 }

.nav-interesser p{
    color: purple;
}
 */

 body {
     background-color: rgb(240, 211, 240);
 }

 body h2 {
     font-size: 40px;
     text-decoration: none;
     padding: 60px;
     font-family: "Pacifico", cursive;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
 }

 h2 {
     font-size: 40px;
     text-align: center;
     padding: 20px;
     color: rgb(137, 61, 137);
     font-weight: unset;
     text-decoration: underline dotted;
 }

 .tennis {
     background-color: rgb(255, 204, 184);

 }

 .fotball {
     background-color: lightgoldenrodyellow;
 }

 .piano {
     background-color: rgb(64, 228, 220);
 }

 .interesser {
     display: grid;
     gap: 30px;
 }

 .interesser * {
     display: grid;
     justify-content: center;
 }

 .grid-card {
     display: grid;
     grid-template-columns: 2fr 1fr;
     padding: 20px;

 }

 .info {
     margin-bottom: 70px;
 }

 .info a{
    display: inline;
    text-decoration: none;
 }

 .info p {
     font-style: italic;
     text-align: center;
     padding: 10px;
     align-items: center;
     display: inline;
 }

 .grid-card:first-child {
     border: 6px solid rgb(255, 154, 115);
 }

 .grid-card:first-child p {
     background-color: rgb(249, 190, 167);
 }

 .grid-card:first-child h2 {
     color: rgb(163, 65, 27);
 }

 .grid-card:nth-child(2) p {
     background-color: rgb(246, 246, 169);
 }

 .grid-card:nth-child(2) h2 {
     color: rgb(158, 158, 4);
 }

 .grid-card:last-child {
     border: 6px solid rgb(9, 192, 183);
 }

 .grid-card:last-child p {
     background-color: rgb(144, 236, 232);
 }

 .grid-card:last-child h2 {
     color: rgb(3, 116, 110);
 }

 section img {
     width: 300px;
     height: 300px;
     object-fit: cover;
     aspect-ratio: 1/1;
     justify-content: end;
     border-radius: 2px;
 }

 .tennis img{
     border: 7px solid  rgb(163, 65, 27);
    }

.fotball img{
    border: 7px solid rgb(236, 236, 141);
}

.piano img{
    border: 7px solid rgb(9, 192, 183);
}



 /* BILDEGALLERI */
 h6 {
     font-size: 40px;
     padding: 20px;
     font-family: "Delius Swash Caps", cursive;
 }


 .grid-section {
     display: grid;
     grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
     grid-auto-rows: 200px;
     gap: 10px;

     padding: 10px;
     background-color: rgb(181, 227, 240);
     border: 3px rgb(5, 66, 97) solid;
 }

 .grid-section img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 2%;
 }

 @media (width < 800px) {
     .grid-section {
         grid-template-columns: repeat(2, 1fr);
         grid-template-areas:
             "header"
             "grid-section"
             "footer"
         ;
     }

     .grid-section * {
         grid-column: auto !important;
         grid-row: auto !important;
     }
 }

 .nr1 {
     grid-row: 1/3;
     grid-column: 1/4;
 }

 .nr2 {
     grid-row: 1/5;
     grid-column: 5/7;
 }

 .nr3 {
     grid-row: 1/3;
 }

 .nr4 {
     grid-row: 3/5;
     grid-column: -5/-4;
 }

 .nr5 {
     grid-row: 3/4;
 }

 .nr6 {
     grid-row: 3/4;
 }

 .nr7 {
     grid-row: 3/5;
     grid-column: -4/-3;
 }



















 /* 
 .img {
     border: rgb(255, 0, 234) 5px solid;
     aspect-ratio: 1/1;
     object-fit: cover;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .nr1 {
     background-image: url(https://cataas.com/cat?1);
     grid-column: 1/3;
     grid-row: 1/1;
 }

 .nr2 {
     background-image: url(https://cataas.com/cat?2);
     grid-row: 1/2;

 }

 .nr3 {
     background-image: url(https://cataas.com/cat?3);
     grid-column: 1/3;
     grid-row: 0/1;
 }

 .nr4 {
     background-image: url(https://cataas.com/cat?4);
     grid-column: 3/4;
     grid-row: 2/3;
 }

 .nr5 {
     background-image: url(https://cataas.com/cat?5);
     
 }

 .nr6 {
     background-image: url(https://cataas.com/cat?6);
 }

 .nr7 {
     background-image: url(https://cataas.com/cat?7);
     grid-column: 2/4;
 } */